<div class="row my-5">
  <div class="card-box shadow">
    <div class="d-grid gap-2 d-md-flex justify-content-between">
      <h4>Assign account manager for <strong><%= @organization.name %></strong></h4>
    </div>
    <div class="card-body">
      <table class="table table-sm table-borderless people">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.name %>
              </td>
              <td><%= user.email %></td>
              <td>
                <%= form_tag(organization_account_manager_create_path , method: :post) do %>
                  <%= hidden_field_tag(:user_id, user.id) %>
                  <%= submit_tag("Assign", class: "btn btn-outline-success", name:nil) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
