<div class="row my-5">
  <div class="col-sm-4">
    <div class="text-center card-box shadow ">
      <div class="member-card pt-2 pb-2">
        <% if @organization.logo.attached? %>
          <div class="thumb-lg member-thumb mx-auto">
            <%= image_tag @organization.logo,class: "rounded-circle img-thumbnail" %>
          </div>
        <% end %>
        <div class="">
          <h4><%= @organization.name %></h4>
          <p class="text-muted"><span><%= @organization.website %></span></p>
        </div>
        <div class="mt-4">
          <p class="card-text m-0"><i class="bi bi-envelope-fill"> </i> <small><%= @organization.email %></small></p>
          <p class="card-text m-0"><i class="bi bi-telephone-fill"> </i> <small><%= @organization.phone %></small></p>
          <p class="card-text m-0"><i class="bi bi-people-fill"> </i> <small><%= @organization.people.length %></small></p>
        </div>
        <div class="mt-4">
          <div class="btn-group btn-group-sm" role="group">
            <% if current_user.admin? || current_user.id == @organization.users_id %>
              <%= link_to "Edit", edit_organization_path(@organization), class:"btn btn-outline-warning"%>
            <% end %>
            <% if current_user.admin? %>
              <% if !@organization.users_id.blank? %>
                <%= link_to "Unassign Account Manager", organization_account_manager_destroy_path(@organization), method: :delete,data:{confirm: "Are you sure?"},class:"btn btn-outline-danger" %>
              <% else %>
                <%= link_to "Assign Account Manager", organization_account_manager_new_path(@organization), class:"btn btn-outline-info"%>
              <% end %>
              <%= link_to "Delete", organization_path(@organization), method: :delete, data:{confirm:"Are you sure ?"},class: "btn btn-outline-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card-box shadow">
      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <h4>PIC</h4>
        <% if current_user.admin? || current_user.id == @organization.users_id %>
          <%= link_to "+", new_organization_person_path(@organization),class:"btn btn-success btn-sm" %>
        <% end %>
      </div>
      <div class="card-body">
        <table class="table table-sm table-borderless people">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @organization.people.each do |person|  %>
              <tr>
                <td><% if person.avatar.attached? %>
                    <%= image_tag person.avatar, class: "img-fluid avatar"%>
                  <% end %></td>
                <td>
                  <%= person.name %>
                </td>
                <td><%= person.phone %></td>
                <td><%= person.email %></td>
                <td>
                  <% if current_user.admin? || current_user.id == @organization.users_id %>
                    <div class="btn-group btn-group-sm" role="group">
                      <%= link_to "Edit", edit_organization_person_path(@organization, person), class:"btn btn-outline-warning"%>
                      <%= link_to "Delete", organization_person_path(@organization, person), method: :delete, data:{confirm:"Are you sure ?"},class: "btn btn-outline-danger" %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
